@model IEnumerable<Computer_Shop.Models.Order>
@{
    ViewBag.Title = "DetailsOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center;font-size:50px">Order Details</h2>


<style>
    .Delbtn {
        color: red
    }

    .report:hover {
        opacity: 0.6
    }
</style>

<table border="5" cellpadding="10" cellspacing="5" align="center">

    <tr style="font-size:200%;text-align:center;font-family:'Times New Roman'">
        <br>
        <td>OrderID</td>
        <td>Product_Name</td>
        <td>Quantity</td>
        <td>Price</td>
        <td>Shipping_Address</td>
        <td>Payment_Method</td>
        @if (Session["role"] == "admin" || Session["role"] == "Salesman")
        {
            <td>Action</td>
        }
        </br>
    </tr>

    @{
        foreach (Computer_Shop.Models.Order x in Model)
        {
            <tr style="font-size:24px" class="tr">
                <td>@x.OrderID</td>
                <td>@x.Product_Name</td>
                <td>@x.Quantity</td>
                <td>@x.Price</td>
                <td>@x.Shipping_Address</td>
                <td>@x.Payment_Method</td>
                @if (Session["role"] == "admin")
                {
                    <td>
                        @Html.ActionLink("Delete", "DeleteOrder", new { oid = x.OrderID }, new { @class = "Delbtn" }) <strong>|</strong>
                    </td>
                }
                else if (Session["role"] == "Salesman")
                {
                    <td>
                        @Html.ActionLink("Delete", "DeleteOrder", new { oid = x.OrderID }, new { @class = "Delbtn" }) <strong>|</strong>
                    </td>
                }

            </tr>
        }
    }
</table>


<br />

@*<div style="color:black;text-align:right;font-size:50px;padding-right:15px">
        <strong>
            Total Order Price : @Model.Sum(i => i.Price)
        </strong>

    </div>*@

<br />
